.dark-wrapper
  %section.hero.is-fullheight
    .columns
      .column
        .hero-body
        %button.button
          = link_to "New Poll", new_poll_path
      .column
        .hero-body
        %button.button
          -# = link_to "New Poll", new_poll_path
