.dark-wrapper
  %section.hero.is-fullheight
    .columns
      .column
        .hero-body
        %button.button
          = link_to "New Poll", new_poll_path
      .column
        .hero-body
          = simple_form_for :poll, url: :search do |f|
            = f.input :id, label: "Join by ID"
            = f.submit "Join"
