
%section.max-h-screen
  .hero.bg-base-200.pb-40
    .hero-content.flex-col
      %ul.steps.steps.vertical.py-4
        %li.step.step-primary Create Poll
        %li.step Add Answers
        %li.step Send it out
      .text-center.lg:text-left
        %p.text-lg Name Your Poll
      .card.min-w-screen.shadow-2xl.bg-base-100
        .card-body
          .form-control.grid.grid-rows-1
            = simple_form_for @poll do |f|
              = f.hidden_field :id, value: @poll.id
              %label.label Poll Title
              .text-center.lg:text-left
                = f.input_field :title, placeholder: "Poll Title", class: "input text-2xl  bg-base-100 hover:bg-base-200"
              -# = render partial: 'polls/options', collection: @poll.options, as: :option
              = f.button :submit, "Submit", class: "btn bg-base-200"
